/* css变量 */
:root {
  /* 公共颜色 */
  --background-color: #0B4881;
  /* logo宽度 */
  --logo-width: 309px;
  /* 导航栏高度 */
  --nav-bgColor: #ffffff;
  /* 导航栏高度 */
  --nav-height: 55px;
  /* 导航栏经过变得背景颜色 */
  --nav-hoverBgColor: #1469BC;
  /* 导航栏字体大小 */
  --nav-fontSize: 16px;
  /* 新闻盒子高度 */
  --news-height: 220px;
  /* 表格行高 */
  --table-line-height: 32px;
  /* 首页标题的颜色 */
  --title-color: #1D77CE;
  /* a标签鼠标经过字体的颜色 */
  --aHover-color: #1D77CE;
}
/* 布局样式 start */
/* 靠两边垂直居中 */
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 水平垂直全居中 */
.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* grid左右占比，中间有缝 */
.gridLeft-right {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 40px;
}
/* 布局样式 end */
/* 头部样式 */
.headerBox {
  background-color: #0B5AA7;
  height: 122px;
  line-height: 122px;
}
.headerBox .layui-container {
  background: url(../../img/top.png) center no-repeat;
  position: relative;
}
.header-top {
  height: 40px;
  text-align: center;
  color: #fff;
}
.header .home {
  cursor: pointer;
}
.header .site {
  cursor: pointer;
}
/* 登录退出*/
.staff {
  position: absolute;
  right: 15px;
  line-height: 40px;
  top: 0;
}
.login-btn {
  /* background: rgba(255, 255, 255, 0.3); */
  border-radius: 4px;
  margin: 10px 0 0 0px;
}
#user-info {
  margin-left: 16px;
}
#user-info:hover {
  cursor: pointer;
}
.login {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #ffffff;
}
/* 登录退出 end */
.header-bottom {
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo样式 */
.logo {
  font-size: 22px;
}
.logo img {
  width: var(--logo-width);
}
/* logo样式 end */
/* 搜索样式 */
.search {
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.search .search_input {
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  width: 180px;
  height: 100%;
  border: 1px solid #fff;
  border-right: 0;
  background-color: #0B5AA7;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  color: #ffffff !important;
}
.search_input::-webkit-input-placeholder {
  color: #fff;
}
.search .search_button {
  display: inline-block;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-left: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* 搜索样式 end */
/* 导航栏样式 */
.navbar-inverse {
  background-color: var(--nav-bgColor);
  border-color: var(--nav-bgColor);
}
.navbar-inverse .navbar-nav > li > a {
  font-size: var(--nav-fontSize);
}
.navbar {
  margin-bottom: 0;
  min-height: var(--nav-height);
}
.navBox.layui-container {
  width: 100%;
  background-color: var(--nav-bgColor);
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-nav > li > a {
  line-height: calc(var(--nav-height) - 30px);
}
.navbar-inverse .navbar-nav > li > a {
  color: #333333;
}
.dropdown:hover a {
  color: #333333 !important;
}
.navbar-toggle {
  background-color: #222222;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: var(--nav-hoverBgColor);
  color: #ffffff !important;
}
.nav > li:hover .dropdown-menu {
  display: block;
}
/* 导航栏样式 end */
/* 轮播图 */
.img-box {
  background-color: #ffffff;
}
.img-box .item {
  height: 420px;
}
.img-box .item img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* 轮播图 end */
/* 头部样式 end */
/* 底部样式 */
.footer {
  height: 160px;
  background-color: var(--background-color);
  text-align: center;
  color: #A9B7CF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-left {
  line-height: 108px;
}
.footer-right {
  color: #4678AD;
  text-align: left;
}
.footer-right div {
  line-height: 25px;
}
.footer-right div:first-child {
  margin-bottom: 8px;
  color: #82BCF5;
  font-size: 16px;
}
/* 底部样式 end */
/* 公共样式start */
/* 横线 */
.heng {
  width: 720px;
  margin: 15px 0;
  border-top: 1px dashed #2569AC;
  display: inline-block;
}
/* 横线 */
/* 竖线 */
.shu {
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  background-color: var(--background-color);
  width: 3px;
}
/* 竖线 */
/* 空心圆 */
.yuan {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #5BA8FF;
  border-radius: 50%;
  margin-right: 6px;
}
/* 空心圆 */
/* More更多 */
.more {
  margin-left: 40px;
  display: inline-block;
  width: 45px;
  color: var(--background-color);
}
/* More更多 */
/* 三角 */
.sanjiao {
  float: right;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #fff;
  margin: 5px 0;
}
/* 三角 */
/* 高度 */
.newsBoxHeight {
  height: var(--news-height);
}
/* 高度 */
/* 时间盒子 */
.newsList_timeBox {
  position: absolute;
  bottom: -50%;
  left: 30px;
  width: 70px !important;
  height: 68px;
  background: #3f3f40;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.newsList_timeBox > div:first-child {
  padding-top: 10px;
  font-size: 24px;
}
.newsList_timeBox > div:last-child {
  font-size: 12px;
}
a:hover,
a:hover span,
a:hover div {
  color: var(--aHover-color) !important;
}
/* 公共样式 end */
/* 新闻列表 下载 页面样式 start */
.tu_img1 img {
  width: 100%;
}
.xyfu {
  height: 60px;
  font-size: 16px;
  color: #333333;
  line-height: 60px;
  padding-left: 30%;
  border-top: 4px solid #1765A8;
  border-bottom: 1px solid #F4F4F4;
  background-color: #e3f0fa;
}
.date {
  padding-bottom: 100px;
  overflow: hidden;
}
.data_lt {
  position: relative;
  width: 17%;
  padding: 0;
  box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
}
.data_lt > p {
  width: 95%;
  height: 37px;
  text-align: center;
  background: url(../img/bt1.png) 0 0 no-repeat;
  background-size: contain;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: -10px;
}
.data_lt > ul {
  width: 100%;
  background: #ffffff;
  color: #333333;
}
.data_lt > ul > li {
  text-align: left;
  padding: 15px 0;
  padding-left: 32%;
  border-bottom: 1px solid #F4F4F4;
}
.data_lt > ul > li:last-child {
  border-bottom: 0;
}
.data_lt > ul > li:hover {
  color: #1765A8;
  background-color: #E3F0FA;
}
.data_lt > img {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 10;
}
.jiao {
  width: 12px;
  height: 12px;
  border-right: 2px solid #d5d5d6;
  border-top: 2px solid #d5d5d6;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  transform: rotateZ(45deg);
}
.data_rt {
  width: 80%;
  padding: 0;
  box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
  height: auto;
  min-height: 520px;
  border-top: 4px solid #1765A8;
}
.data_rt .title {
  border-bottom: 1px solid #ECECF0;
  height: 56px;
  font-size: 16px;
  line-height: 58px;
  width: 100%;
  padding-left: 5px;
  background-color: #e3f0fa;
}
.data_rt .title > span {
  color: #333333 !important;
  display: inline-block;
  height: 100%;
  line-height: 58px;
}
.data_rt .title_rj {
  position: relative;
  left: 15px;
  color: #fff;
}
.li_style {
  color: #1765A8;
  background-color: #E3F0FA;
}
.serve_time .serve_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
/* 新闻盒子li */
.serveNews_list {
  padding: 0 29px 0 20px;
}
.serveNews_list li {
  height: 120px;
  padding: 20px 0;
  border-bottom: 4px dotted #E5E5E5;
}
.serveNews_list li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serveNews_list li a .a_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 时间盒子 */
.newsListTimeBox {
  width: 68px;
  height: 68px;
  background-color: #ECECF0;
  text-align: center;
}
.newsListTimeBox div:first-child {
  margin-top: 10px;
  font-size: 24px;
  color: #1765A8;
}
.newsListTimeBox div:last-child {
  font-size: 12px;
}
/* 右边内容大盒子 */
.new_box_title {
  color: #383838;
  font-size: 16px;
}
.new_box {
  width: 100%;
  padding-left: 3%;
}
.pagination {
  width: 100%;
  text-align: center;
}
.pagination .layui-laypage-count {
  display: none;
}
/* 图标外层包裹盒子与独立小盒子 */
.icon_text_box {
  display: flex;
}
.icon_text {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 12px;
  /* 调节左右间隔 */
  margin-right: 20px;
}
.icon_text img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}
/* end */
.new_box_content {
  height: 20px;
  margin-top: 5px;
  color: #666666;
  font-size: 14px !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.lisStelect_style {
  background-color: #e3f0fa;
  color: #1765a8;
}
/* 新闻列表 下载 样式 end*/
/* 新闻详情页样式 start */
.sls-navigation {
  margin: 15px;
  color: #222222;
}
.sls-navigation a.center {
  color: #0F51A1;
  /* background-color: #e3f0fa; */
}
.sls-box {
  font-size: 14px;
  line-height: 35px;
  padding: 10px;
  margin-bottom: 60px;
}
.sls-box .sls-content-box {
  border: 1px solid #d3dce3;
  margin-bottom: 120px;
}
.sls-box p {
  background-color: #FFFFFF !important;
}
.sls-content-title {
  font-size: 24px;
  line-height: 35px;
  padding-bottom: 20px;
  padding-top: 10px;
  color: #333333;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
.sls-content-tag {
  font-size: 12px;
  color: #222222;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
}
.sls-content-tag span {
  margin: 0px 20px;
}
.sls-content-box .sls-content {
  color: #333333;
  padding: 10px 30px;
  overflow: hidden;
}
/*.sls-content p {text-indent: 2em;}*/
.sls-content {
  color: #333333;
}
.sls-content img {
  max-width: 100%;
}
/* 新闻详情页面样式end */
